{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container"><br>
    <div class="row">
        <div class="col-md-8">
            {% for image in all_images %}
            <div class="card">
                <a href="{% url 'showprofile' id=image.profile.id %}">
                 {% if image.profile_pic %}
                <img src="{{image.profile_pic.url}}">
                        {{image.profile.username}}</a>
                {% else %}
                <img src="#"  class="rounded-circle">
                 <b>{{image.profile.username}}</b></a>
                {% endif %}
      </div>

            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}